
.page1{
    position: relative;
    background: url(http://ps3navvpf.bkt.clouddn.com/weiliyue/27.png) no-repeat;
    background-size: cover;
}
span{
    writing-mode: vertical-rl;
    font-size: .9rem;
    position: relative;
    left: 1rem;
    top: .8rem;
    font-family: "楷体";
}
.a{
    writing-mode: vertical-rl;
    position: relative;
    font-size: .3rem;
    top: 1rem;
    left: 2.8rem;
}
.b{
    writing-mode: vertical-rl;
    position: relative;
    font-size: .3rem;
    top: 2rem;
    left: 3.1rem;
}
.c{
    writing-mode: vertical-rl;
    position: relative;
    font-size: .3rem;
    top: 2rem;
    left: 3.4rem;
}
.d{
    writing-mode: vertical-rl;
    position: relative;
    font-size: .3rem;
    top: 2rem;
    left: 3.7rem;
}
.page2{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/50.png) no-repeat;
    background-size: cover;
}
.e{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: .9rem;
    left: 1.5rem;
    font-family: "楷体";
}
.f{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .35rem;
    top: 1.4rem;
    left: 2.2rem;
    font-family: "楷体";
}
.g{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .35rem;
    top: 3rem;
    left: 2.8rem;
    font-family: "楷体";
}
.page3{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/51.png) no-repeat;
    background-size: cover;
}
.h{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 2rem;
    left: 1.2rem;
    font-family: "楷体";
}
.i{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .35rem;
    top: 2.8rem;
    left: 1.8rem;
    font-family: "楷体";
}
.j{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .35rem;
    top: 1.7rem;
    left: 2.3rem;
    font-family: "楷体";
}
.page4{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/53.png) no-repeat;
    background-size: cover;
}
.k{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 1.7rem;
    left: 1.6rem;
    font-family: "楷体";
}
.l{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 2.1rem;
    left: 2.2rem;
    font-family: "楷体";
}
.m{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 1.8rem;
    left: 2.6rem;
    font-family: "楷体";
}
.n{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 2.2rem;
    left: 3.2rem;
    font-family: "楷体";
}
.page5{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/54.png) no-repeat;
    background-size: cover;
}
.o{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.2rem;
    left: 1rem;
    font-family: "楷体";
}
.p{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: .8rem;
    left: 1.4rem;
    font-family: "楷体";
}
.q{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.5rem;
    left: 1.9rem;
    font-family: "楷体";
}
.r{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: 2.2rem;
    font-family: "楷体";
}
.s{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.4rem;
    left: 2.7rem;
    font-family: "楷体";
}
.t{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 1rem;
    left: 3.3rem;
    font-family: "楷体";
}
.u{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.4rem;
    left: 3.8rem;
    font-family: "楷体";
}
.v{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.2rem;
    left: 4.4rem;
    font-family: "楷体";
}
.w{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 1rem;
    left: 4.9rem;
    font-family: "楷体";
}
.x{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: 5.5rem;
    font-family: "楷体";
}
.page6{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/60.jpg) no-repeat;
    background-size: cover;
}
.y{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.7rem;
    left: .8rem;
    font-family: "楷体";
}
.z{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 1rem;
    left: 1.1rem;
    font-family: "楷体";
}
.aa{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.4rem;
    left: 1.6rem;
    font-family: "楷体";
}
.bb{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: 2rem;
    font-family: "楷体";
}
.page7{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/61.png) no-repeat;
    background-size: cover;
}
.cc{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: .6rem;
    font-family: "楷体";
}
.dd{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: .3rem;
    left: 1rem;
    font-family: "楷体";
}
.ee{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: .6rem;
    left: 1.6rem;
    font-family: "楷体";
}
.ff{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: .3rem;
    left: 1.9rem;
    font-family: "楷体";
}
.page8{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/64.png) no-repeat;
    background-size: cover;
}
.gg{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: .8rem;
    left: 1rem;
    font-family: "楷体";
}
.hh{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: .4rem;
    left: 1.3rem;
    font-family: "楷体";
}
.ii{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: 1.9rem;
    font-family: "楷体";
}
.jj{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 0.9rem;
    left: 2.3rem;
    font-family: "楷体";
}
.kk{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: .5rem;
    left: 2.7rem;
    font-family: "楷体";
}
.ll{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1rem;
    left: 3.1rem;
    font-family: "楷体";
}
.mm{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 0.8rem;
    left: 3.5rem;
    font-family: "楷体";
}
.page9{
    position: relative;
    background:url(http://ps3navvpf.bkt.clouddn.com/weiliyue/70.png) no-repeat;
    background-size: cover;
}
.nn{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .5rem;
    top: 0.6rem;
    left:2.2rem;
    font-family: "楷体";
}
.oo{
    writing-mode: vertical-rl;
    position: absolute;
    font-size: .3rem;
    top: 1.3rem;
    left: 2.8rem;
    font-family: "楷体";
}